*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

.reservations {
	background-color: #fff;
	max-width: 1700px;
	margin: 2rem auto;
	border-radius: 3px;
	user-select: none;
}

.reservation_actions {
	margin-bottom: 0.5rem;
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
}

.buttons {
	display: flex;
}

.buttons > div {
	display: flex;
	align-items: center;
	cursor: pointer;
	border: 1px solid #eee;
	padding: 0.5rem 0.5rem;
	font-weight: bold;
	font-size: 14px;
}

.inner {
	display: flex;
	width: 100%;
	border-top: 1px solid #eee;
}

.month {
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	/* overflow: hidden; */
}

.monthName {
	overflow: hidden;
	height: 40px;
	border-right: 1px solid #eee;
	line-height: 2;
}

.monthName > span {
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	display: block;
}

.dates {
	width: 100%;
	display: flex;
	overflow: hidden;
}

.date {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0.5rem 0rem;
	border: 1px solid #eee;
	border-right: none;
}

.date:first-child {
	border-left: none;
}

.date:last-child {
	border-right: 1px solid #eee;
}

.dateText {
	font-size: 24px;
	font-weight: bold;
}

.dayText {
	font-size: 12px;
}

.num {
	color: #fff;
	width: 30px;
	text-align: center;
	border-radius: 3px;
	font-size: 14px;
	pointer-events: none;
}

.num_green {
	background-color: #59b59d;
}

.num_red {
	background-color: #ea6565;
}

.num_active {
	border-right: 1px solid #333;
	border-left: 1px solid #333;
}

.activeDate {
	background-color: #333;
	border: none;
	color: #fff;
}

.activeDate_bordered {
	border: 1px solid #333;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.weekend {
	background-color: #eee;
	border: 1px solid #ddd !important;
	border-right: none;
}

.weekend_bordered {
	background-color: #eee;
	border: 1px solid #ddd;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #ddd;
}

.disabled {
	cursor: no-drop !important;
	opacity: 0.3;
}

.row {
	display: flex;
	width: 100%;
	background-color: #fff;
	min-height: 50px;
}

.row_left {
	min-width: 170px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 1rem 1rem 0.4rem 1rem;
}

.row_left_bordered {
	min-width: 170px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding: 1rem 1rem 0.4rem 1rem; */
	border: 1px solid #eee;
}

.row:last-child > .row_left_bordered {
	border-bottom: 1px solid #eee !important;
}

.row_right {
	width: 100%;
	display: flex;
	min-height: 40px;
	overflow: hidden;
}

.date_hovered {
	background-color: #e3f5fc;
}

.hovered {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.booking {
	height: 50px;
	display: flex;
	align-items: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 0rem 1rem;
	position: relative;
	border: none;
}

.booking::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgb(179, 222, 219);
	width: 4px;
	height: 100%;
}

.booking::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	background-image: linear-gradient(to right, transparent, currentColor);
	width: 30px;
	height: 100%;
}

.room_dropdown_options {
	position: absolute;
	width: 160px;
	z-index: 200;
	background-color: #fff;
	height: auto;
	top: 35px;
	left: 140px;
	border-radius: 5px;
	box-shadow: 10px 8px 5px -15px rgba(0, 0, 0, 0.75),
		-10px -8px 7px -15px rgba(0, 0, 0, 0.75);
}

.room_dropdown_option {
	padding: 0.8rem 1rem;
	text-align: left;
	transition: 0.1s all ease-in-out;
	font-size: 12px;
	font-weight: light;
}

.room_dropdown_option:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.room_dropdown_option:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.room_dropdown_option:hover {
	background-color: #eee;
}

.room_number_text {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-weight: normal;
	width: 100%;
	height: 100%;
	padding: 0rem 1rem;
	transition: 0.1s all ease-in-out;
	cursor: pointer;
}

.room_number_text:hover {
	background-color: #eee;
}
